body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    padding: 5px;
    margin: 5px;
    width: calc(100% - 20px);
    border: 2px solid lightgrey;
    border-radius: 8px;
}

.message-info {
    background-color: #6ba9ff;
    color: blue;
}

.message-success {
    background-color: lawngreen;
    color: green;
}

.message-warning {
    background-color: khaki;
    color: goldenrod;
}

.message-error {
    background-color: orangered;
    color: darkred;
}