.fancy-header {
    color: purple;
    text-decoration: underline;
}

h1 {
    color: white;
    text-align: center;
}

/*p {
    font-family: verdana;
    font-size: 20px;
}*/
ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:#4CAF50;
}